pre[class*="language-"] {
    position: relative;
    &:before {
        content: '';
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: .4rem 1rem;
    }
}

pre.language {
    &-markup {
        &:before {
            content: 'Markup';
        }
    }
    &-css {
        &:before {
            content: 'CSS';
        }
    }
    &-clike {
        &:before {
            content: 'C-like';
        }
    }
    &-javascript {
        &:before {
            content: 'JavaScript';
        }
    }
    &-css {
        &:before {
            content: 'CSS';
        }
    }
    &-abap {
        &:before {
            content: 'ABAP';
        }
    }
    &-actionscript {
        &:before {
            content: 'ActionScript';
        }
    }
    &-asciidoc {
        &:before {
            content: 'AsciiDoc';
        }
    }
    &-abap {
        &:before {
            content: 'abap';
        }
    }
    &-sass {
        &:before {
            content: 'SASS';
        }
    }
    &-scss {
        &:before {
            content: 'SCSS';
        }
    }
    &-bash {
        &:before {
            content: 'Bash';
        }
    }
    &-rust {
        &:before {
            content: 'Rust';
        }
    }
    &-pug {
        &:before {
            content: 'Pug';
        }
    }
}