/**
 * Theme for reveal.js
 * By Deluce Stéphane, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../../node_modules/reveal.js/css/reveal.scss";
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
//@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
//@import url('https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: darken(#263238,8);

$headingColor: #fff;
$mainColor: rgba($headingColor, 0.8);

$mainFontSize: 36px;

//$headingFont: 'Permanent Marker', cursive;
//$mainFont: 'Overpass', sans-serif;

$headingFont: 'Patua One', cursive;
$mainFont: 'Maven Pro', sans-serif;

$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$fontWeight: 400;
$linkColor: #FFCA28;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.2em;
$heading2Size: 1.8em;
$heading3Size: 1.7em;
$heading4Size: 1.4em;

.reveal {
	font-weight: $fontWeight;
	section.has-light-background {
		color: rgba($backgroundColor, 0.8);
		h1, h2, h3, h4, h5, h6 {
			text-shadow: 0 5px 20px rgba(0,0,0,0.3);
			color: $backgroundColor;
		}
		pre[class*="language-"] {
			background: rgba(#000,0.7);
		}
	}

	// Logo
	/*&:after {
		content: '';
		position: absolute;
		bottom: 1.6rem;
		left: 1.4rem;
		height: 50px;
		width: 240px;
		border-radius: .25rem;
		background: url(../../img/Nimbus-CIT-Logo.png) rgba(#fff, .5) no-repeat;
		border: 6px solid rgba(#fff, .0);
		background-size: 100%;
	}*/
	
	section {
		h1, h2, h3, h4, h5, h6 {
			text-shadow: 0 0 12px rgba(0,0,0,.5);
			text-transform: none;
		}
		img {
			background: none;
			border: none;
			box-shadow: none;
			&.border {
				border: 4px solid lighten($backgroundColor, 20);
			}
			&.quarter-left{
				float: left;
				padding-right: 2rem;
				width: 20%;
			}
			&.quarter-right{
				float: right;
				padding-left: 2rem;
				width: 20%;
			}
		}
		p {
			&.left{
				text-align: left ;
			}
		
			&.justify {
				text-align: justify;
			}
		}
	}
    pre {
        code.hljs {
            border-radius: .25rem;
			padding: 1rem;
		}
	}

	.progress {
		color: $linkColor;
	}

	.title {
		p.author {
			font-style: italic;
			font-size: 2rem;
		}
	}

	.no-border {
		padding: 1.5rem;
		img {
			background: none;
			box-shadow: none;
			border: none;
		}
	}

	.slide-background {
		transition: transform 8s cubic-bezier(0,0,.25,1);
		&.future {
			transform: scale(1.2);
		}
		&.present, &.past {
			transform: scale(1);
		}
	}

	pre[class*="language-"] {
		background: rgba(#000,0.3);
		&:before {
			font-family: $mainFont;
			background: $backgroundColor;
		}
	}
	 
}

@media only screen and (min-width: 1100px) {
	.reveal {
		&:after {
			height: 50px;
			width: 240px;
		}
	}	
}

@media only screen and (max-width:1100px) and (min-width:800px) {
	.reveal {
		&:after {
			height: 40px;
			width: 200px;
		}
	}	
}

@media only screen and (max-width:800px) and (min-width:500px) {
	.reveal {
		&:after {
			height: 30px;
			width: 160px;
		}
	}	
}

@media only screen and (max-width: 500px) {
	.reveal {
		&:after {
			height: 18px;
			width: 100px;
		}
	}	
}

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
@import "prism";
@import "prism-lang";
// ---------------------------------------------
