doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Presentation
    link(rel="stylesheet" href="style/style.css")
  body
    .reveal
      .slides

        section
          h1 Presentation
          p The HTML Presentation Framework
          // a(href="?print-pdf&showNotes=true") Print
          aside.notes
            | Oh hey, these are some notes.

        section
          section
            h1 Title slide
            aside.notes
              | Oh hey, these are some notes.

          section.no-border
            h2 Sub slide
            img(src="images/logos/js.svg").quarter-left
            p.left Sed eget purus quis justo fringilla ullamcorper. Ut eros lacus, scelerisque dapibus euismod id, tristique eget est. Integer vitae enim nisl. Nulla viverra porta quam, quis molestie mauris.
            aside.notes
              | Oh hey, these are some notes.

          section
            h2 Fragments
            ol
              li(data-fragment-index="3").fragment Appears last
              li(data-fragment-index="1").fragment Appears first
              li(data-fragment-index="2").fragment Appears second
          
          section
            h2 Style Fragments
            p
              span.fragment.highlight-red Red 
              span.fragment.highlight-blue Blue 
              span.fragment.fade-out Fade out 
            p.fragment.grow Grow
            p.fragment.shrink Shrink

        section
          section(data-background-image="images/background-paint.jpg", data-background-opacity="0.7")
            h1 Backgrounds

          section(data-background-color="#BBDEFB")
            h2 Light background
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum magna diam. Donec vel turpis id lacus auctor viverra et ac orci. Donec sit amet semper massa, vel blandit eros.
            aside.notes
              | Oh hey, these are some notes.

          section(data-background-color="#0D47A1")
            h2 Dark background
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum magna diam. Donec vel turpis id lacus auctor viverra et ac orci. Donec sit amet semper massa, vel blandit eros.
            aside.notes
              | Oh hey, these are some notes.
          
          section(data-background-color="#EEE", data-background-image="images/pattern.png", data-background-repeat="repeat", data-background-size="30%")
            h2 Background pattern

          section(data-background-image="https://media.giphy.com/media/X144Ov9UbFUZO/giphy.gif")
            h2 Gif background

        section
          section
            h1 Highlight Code

          section
            h2 AsciiDoc
            pre
              code.language-asciidoc.
                = Title

                .Legend
                image::sunset.jpg[Sunset]
            aside.notes
              | Oh hey, these are some notes.
          
          section
            h2 Rust
            pre
              code.language-rust.
                fn main() {
                  let opt = Opt::from_args();
                  let result = get_bus(opt.stopid, opt.number);
                  show_results(&result.unwrap());
                }
            aside.notes
              | Oh hey, these are some notes.
          
          section
            h2 JavaScript
            pre
              code.language-javascript.
                var MonObjet = {
                  function initialiser() {
                    this.maPropriete1 = 3;
                  }
                }
            aside.notes
              | Oh hey, these are some notes.
          
          section
            h2 Pug
            pre
              code.language-pug.
                section(data-background-image="bkg.jpg")
                h1 Title slide
                aside.notes.
                  Oh hey, these are some notes.
            aside.notes
              | Oh hey, these are some notes.

          section
              h1 ...
        
        section
              h1 Enjoy 
                span.fragment :)
        
    script(src="./script/main.js")
